<form method="post" action="" id= "ajax_form" name="ajax_form">
  {% csrf_token %}
  <table>
    <select name="question_type" id= "q_type">
      <option value="Yes/No">Yes/No</option>
      <option value="saab">Migrate/Generate</option>
      <option value="Text">Text</option>
    </select>

  <tr>
    <td>{{ form.question.label_tag }}</td>
    <td>{{ form.question }}</td>
  </tr>

  <tr>
    <td>{{ form.ans.label_tag }}</td>
    <td>{{ form.ans }}</td>
  </tr>

  <tr>
    <td>{{ form.ans.label_tag }}</td>
    <td>{{ form.ans }}</td>
  </tr>

  </table>

  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
